.error-message {
	margin: 1rem;
	color: red;
	font-size: 0.8rem;
}

.ok-message {
	margin: 1rem;
	color: lightgreen;
	font-size: 0.8rem;
}

ion-content {
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: href("../../assets/img/UwU.png");
}