<ion-content [fullscreen]="true">
  <ng-template [ngIf]="user">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ng-template [ngIf]="isOwner" [ngIfElse]="notOwner">Votre Gallerie</ng-template>
          <ng-template #notOwner>Gallerie de {{ user.username }}</ng-template>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ng-template *ngFor="let media of this.media" [ngIf]="media">
        <app-media [media]="media"></app-media>
      </ng-template>
  
      <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </ng-template>
  <ng-template [ngIf]="user === null">
    <ion-content>
      <ion-item>
        Nothing to be found here!
      </ion-item>
      <ion-button [routerLink]="['']">
        Return
      </ion-button>
    </ion-content>
  </ng-template>
</ion-content>