<!-- <ion-list> -->

	<ion-card *ngFor="let singleMedia of media" class="media-card">
		<ion-card-header>
			<ion-card-title>{{ singleMedia.Name }}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p class="description">{{ singleMedia.Description }}</p>
			<p class="id">ID: {{ singleMedia.Id }}</p>
			<p class="author">Author: {{ singleMedia.Author }}</p>
			<ion-button>Open</ion-button>
			<ion-button>Ta mere</ion-button>
		</ion-card-content>
	</ion-card>
	
<!-- </ion-list> -->


<!--
<ion-header>
	<ion-toolbar class="container-title">
		<ion-title class="title">
			<h1> Find a Barcode </h1>
		</ion-title>
	</ion-toolbar>
</ion-header> 	 		
<ion-content class="barcode-list">
	<ng-template>
		<div class="barcode-container">
			<h2 class="User">{{User}}</h2>
			<div class="barcode-image">
				{{barcodeData}}
			</div>
			<ion-button class="">Open</ion-button>
		</div>
	</ng-template>
</ion-content>
-->